<!DOCTYPE html>
<html>

<head>
    <title>Jexxl API</title>
    <link rel="icon" type="image/x-icon" href="../static/images/api-logo.svg">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/index.js"></script>
</head>

<body>
    <div class="icons">
        <a href="{{ url_for('get_api_docs') }}" target="_blank">
            <i class="fa fa-book"></i>
            <span class="tooltip">API Docs</span>
        </a>
    </div>
    <div class="wrapper">
        <img src="../static/images/api-logo-animated.svg" alt="API Logo" class="logo">
        <h1>coming soon<span class="dot">.</span></h1>
        <div id="countdown"></div>
    </div>
</body>

</html>